<!DOCTYPE html>
<html>
    <head>
        <!-- head setup adapted from https://github.com/techwithtim/Flask-Web-App-Tutorial -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1 "/>
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"
        />
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          crossorigin="anonymous"
        />

        <title>{% block title %}Home{% endblock %}</title>

    </head>

    <body>

    <!-- navigation bar layout, style, handling
    adapted from https://www.codeply.com/go/qhaBrcWp3v
    -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" id="home" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="logout" href="/logout">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" id="login" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="signup" href="/signup">Sign Up</a>
                    </li>
                    {% endif %}
                    {% if current_user.is_admin %}
                    <li class="nav-item">
                        <a class="nav-link" id="admin" href="/admin">Adminpanel</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="help" href="/help">Help</a>
                    </li>
                </ul>
            </div>
        </nav>


        <!-- flash messages setup -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error'%}
                        <div class="alert alert-danger alert-dismissable fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% else %}
                        <div class="alert alert-success alert-dismissable fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br />
        <div class="container">
            {% block content %}
            <!-- Here is everything that is defined in the html files for each page -->
            {% endblock %}
        </div>

        <!--load scripts to use bootstrap etc -->
        <script
          src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"
        ></script>

        <script
          type="text/javascript"
          src="{{ url_for('static', filename='index.js') }}"
        ></script>
    </body>
</html>