{% extends "base.html" %}
{% block title %} Help {% endblock %}

{% block content%}
<p>
    <h1>Help page</h1>
    <footer>
        Here, on our "Help page" you will find information about our content and applications. <br />
        If you have any further questions please contact us at: imflugzeugfliegen@info.com
     </footer>
</p>
<p>
    <h2>Sign up</h2>
    <footer>
        <b>Email:</b> Please enter a valid email address. Make sure everything is spelled correctly.<br />
        <b>First name:</b>  Please enter your first name, which is on your passport.<br />
            <b>Last name:</b>  Please enter your first name, which is on your passport.<br />
                <b>Password:</b>  Please enter a password with at least 7 characters. Special characters are allowed. <br />
        Make sure the password is strong and if possible do not use it for any other login.<br />
        <b>Confirm password:</b> Please re-enter the chosen password here to confirm it. <br />
        Make sure it matches the entered password. Do not use copy-paste to avoid confirming an incorrect password.
     </footer>
    </p>
<p>
    <h2>Login</h2>
    <footer>
        If you have already registered, please enter the appropriate email address and password.<br />
        You will then be forwarded to the home page.
     </footer>
    </p>
<p>
    <h2>Logout</h2>
    <footer>
        To log out, press the logout button located at the top of the menu bar.<br /> 
        You should see a notification, which confirming that you are logged out. <br />
        You will then be automatically forwarded to the login page.<br />
     </footer>
    </p>
 <p></p>   
    <h2>Reservation</h2>
    <footer>
        To make a reservation, please select the desired aircraft. <br />
        You can then make the seat reservation by tapping on the desired seat.
     </footer>
    </p>  
    <h2>Cancel reservations</h2>
    <footer>
        To cancel a reservation, please select the relevant reservation and press "cancel reservation". 
     </footer>
    </p>  
    
{% endblock %}
